body {
  background-color: #f8f9fa;
}

.sidebar {
  min-height: 100vh;
}

.sidebar .nav-link {
  color: #ccc;
  margin-bottom: 8px;
}

.sidebar .nav-link.active,
.sidebar .nav-link:hover {
  background-color: #0d6efd;
  color: #fff;
  border-radius: 5px;
}

.card {
  border-radius: 12px;
}

footer {
  font-size: 14px;
}
